{% extends "_base.html" %}

{% block title %}Folders - MealPal{% endblock %}

{% block content %}
    <div>
        <h1 class="text-center text-2xl text-primary-600 pt-10">My folders</hh1>
        <div class="flex flex-wrap flex-row w-full justify-center pt-8 gap-x-4">
            {% for folder in folders %}
                {% include 'partials/_folder.html' %}
            {% else %}
                <p class="text-center text-gray-500">No folders available.</p>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('folders.folder_create')}}" class="absolute bottom-4 flex justify-center items-center text-white-0 text-3xl right-4 bg-primary-600 text-white rounded-full w-[65px] h-[65px] shadow-lg hover:bg-primary-500 transition duration-200">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}
