{% extends "_base.html" %}

{% block title %}Profile - MealPal{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-2xl font-semibold text-primary-600 mb-6">Update Profile</h2>
    <form method="POST" action="{{ url_for('auth.profile') }}">
        {{ form.hidden_tag() }}
        
        <!-- Username Field -->
        <div class="mb-4">
            {{ form.username.label(class="block") }}
            {{ form.username(class="form-input mt-1 block w-full") }}
        </div>

        <!-- Email Field -->
        <div class="mb-4">
            {{ form.email.label(class="block") }}
            {{ form.email(class="form-input mt-1 block w-full") }}
        </div>

        <!-- Current Password Field (for security) -->
        <div class="mb-4">
            {{ form.old_password.label(class="block") }}
            {{ form.old_password(class="form-input mt-1 block w-full") }}
        </div>

        <!-- New Password Field -->
        <div class="mb-4">
            {{ form.new_password.label(class="block") }}
            {{ form.new_password(class="form-input mt-1 block w-full") }}
        </div>

        <!-- Repeat New Password Field -->
        <div class="mb-4">
            {{ form.repeat_password.label(class="block") }}
            {{ form.repeat_password(class="form-input mt-1 block w-full") }}
        </div>

        <!-- Submit Button -->
        <div class="flex flex-col justify-center items-center">
            <button type="submit" class="btn">
                Save Changes
            </button>
            <a href="{{ url_for('main.index') }}" class="muted font-semibold mt-4">Back to Home</a>
        </div>
    </form>
</div>
{% endblock %}
