<footer class="bg-primary-600 text-white py-4 text-white-0 text-sm relative">
    <div class="w-full mx-auto flex flex-row justify-between items-center">
        <!-- Links Section -->
        <div class="flex flex-col ml-2">
            <a href="{{ url_for('main.index') }}" class="text-white  hover:text-secondary-400">Home</a>
            <a href="{{ url_for('main.privacy') }}" class="text-white  hover:text-secondary-400">Privacy</a>

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.profile') }}" class="text-white  hover:text-secondary-400">My recipes</a>
                <a href="{{ url_for('auth.profile') }}" class="text-white  hover:text-secondary-400">Profile</a>
                <a href="{{ url_for('auth.logout') }}" class="text-white  hover:text-secondary-400">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="text-white  hover:text-secondary-400">Login</a>
                <a href="{{ url_for('auth.register') }}" class="text-white  hover:text-secondary-400">Register</a>
            {% endif %}
        </div>

        <!-- Copyright Section -->
        <div class="text-[10px] text-center mt-4 absolute bottom-1 right-1/2 translate-x-1/2">
            &copy; 2024 MealPal
        </div>
    </div>
</footer>
