<!-- app/templates/index.html -->
{% extends "_base.html" %}

{% block title %}Home - MealPal{% endblock %}

{% block content %}
    <div class="text-center py-20">


        <!-- Search bar starts -->
        <div class="mt-2 border-2 mx-auto h-10 max-w-[750px] bg-white-600 border-primary-600 rounded-lg flex flex-row items-center w-full">
        <!-- Items zone -->
        <input placeholder="Type in an ingredient" 
               class="ml-2 bg-white-600 border-primary-600 focus:outline-none focus:border-none flex-grow min-w-0 w-full" 
               type="text" id="ingredient-input"
    >
        <!-- Buttons -->
        <div class="flex h-full flex-row justify-center items-center text-secondary-500 bg-primary-600 text-xl flex-shrink-0 w-auto" id="recipe-add" >
            <div class="flex justify-center items-center w-[55px] cursor-pointer border-r-2 border-r-primary-300" id="add-ingredient-btn">
                <i class="fas fa-plus" aria-hidden="true"></i>
            </div>
            <div class="flex justify-center items-center w-[55px] cursor-pointer" id="recipe-search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    
        <!-- Search bar finishes -->

        <!-- Ingredients starts -->

        <div class="m-2 flex flex-row gap-x-2 max-w-[750px] mx-auto w-full flex-wrap gap-y-2" id="ingredients-container">
            <!-- <div class="rounded-lg py-2 px-5 bg-secondary-500 text-primary-600 relative text-medium">
                <span>Eggs</span>
                <i class="fas fa-times cursor-pointer font-weight-500 absolute text-sm top-1 right-1" class="remove-ingredient"></i>
            </div> -->
         </div>

        <!-- Ingredients finishes -->

        <!-- Recipes starts -->
         <div class="container-2xl pt-20">
            <h2 class="text-center md:text-left pb-4 text-3xl text-primary-500 font-medium">Handpicked recipes for you</h2>

            <!-- Recipe container starts -->
            <div class="flex flex-row flex-wrap gap-y-4 justify-center md:justify-start" id="recipe-results">
                <p id="no-recipes" class="text-gray-500 w-full text-center">Add ingredients to see matching recipes.</p>

                <!-- <div class="flex flex-col border-2 border-primary-500 rounded-md max-w-[300px] relative">
                    <div  class="max-w-[300px] w-100 max-h-[185px] h-full w-full">
                        <img class="object-cover rounded-t-md" src="https://via.placeholder.com/500x300">
                    </div>
                    <div class="text-left m-2 ">
                        <h3 class="text-2xl text-primary-600 font-medium pb-3">Food name</h3>
                        <div class="mr-[2rem]">
                            <span class="px-2 py-1 bg-primary-500 text-white-100 rounded-lg text-xs font-normal">Vegetarian</span>
                            <span class="px-2 py-1 bg-primary-500 text-white-100 rounded-lg text-xs font-normal">Breakfast</span>
                        </div>
                    </div>
                    <a href='#' class="text-primary-800 absolute text-2xl right-1 top-1">
                        <i class="fa-regular fa-heart"></i>
                        </a>
                    <a href='#' class="text-primary-800 absolute text-2xl right-1 bottom-1">
                        <i class="fas fa-arrow-alt-circle-right"></i>folder_detail
                    </a>
                </div> -->
            </div>
            <!-- Recipe container ends -->
         </div>

        <!-- Recipes ends -->
    </div>
{% endblock %}

{% block modal %}
 <div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
    <div class="relative bg-gray-800 rounded-lg w-3/4 max-w-lg p-8">
        <i id="close-modal"  class="fas fa-times text-xl cursor-pointer absolute top-2 right-2 text-white-0 hover:text-white-50"></i>
        <h2 class="text-xl text-white-0 text-center font-semibold mb-4">Save Recipe</h2>
        <h3 class="text-md text-white-0 text-left font-semibold mb-2">Please choose a folder</h3>
        <ul class="transition-colors">
            {% for folder in folders %}
            <li>
              <a href="{{ url_for('internal_api.save_recipe_to_folder')}}" data-folder-id="{{ folder.id }}" class="block folder-pick text-left py-2 px-4 text-white-50 hover:bg-gray-700 rounded folder-btn">
                {{ folder.name }}
              </a>
            </li>
            {% endfor %}
        </ul>
        </div>
  </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}" defer></script>
{% endblock %}
